body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}
*:hover{
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
section{
    float: left;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 30px;
}
.loading_icon {
    font-size: 24px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.vt_viewer {
    width: 100%;
    height: 100vh;
    display: none;
    background-position: center;
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.vt_viewer iframe {
    position: fixed;
    top: 50px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
    height: calc(100% - 50px);
}
.frame_banner {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-shadow:0 2px 3px rgba(0,0,0,0.2);
}
.frame_banner:after{
    content:"";
    width:100%;
    height:50px;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    background: rgba(0,0,0,0.4);
}
.frame_banner:before{
    content:"";
    width:100%;
    height:50px;
    position:absolute;
    top:0;
    left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden; scale(1.0, 1.0); transform: translateZ(0);
    background-color: rgb(100,100,100);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
    transition:all 0.4s ease-in-out;
    z-index:-2;
}
.frame_banner img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
}
.frame_banner span {
    font-size: 14px;
    color: white;
}
.frame_banner i {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}
.header{
    position:relative;
    overflow:hidden;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height:30vw;
    min-height:350px;
    max-height:350px;
    min-width:300px;
    color:#eee;
    cursor: default;
}
.header:after{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:-1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.10) 30%,rgba(27,32,48,1) 100%);
}
.header:before{
    content:"";
    width:100%;
    height:200%;
    position:absolute;
    top:0;
    left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden; scale(1.0, 1.0); transform: translateZ(0);
    background-color: rgb(100,100,100);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    transition:all 0.4s ease-in-out;
    z-index:-2;
}
.custom_header {
    padding: 10px;
    text-align: center;
}
.custom_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    text-align: center;
}
.categories {
    text-align: center;
    margin-top: 10px;
}
.categories button {
    margin: 0px 3px;
}
.info{
    width:100%;
    padding-top: 150px;
    text-align:center;
    text-shadow:0 2px 3px rgba(0,0,0,0.2);
}
.info h1 {
    font-size: 2.5rem;
}
.logo img {
    height: 50px;
    margin-bottom: 10px;
}
.vt-card {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    cursor: pointer;
}
.vt-card:hover {
    border: 1px solid rgba(0,0,0,.5);
}
.vt-card .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
}
.vt-card:hover .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    border-radius:5px;
}
.vt-card .fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 32px;
    color: white;
    display: none;
    transform: translateY(-50%) translateX(-50%);
}
.vt-card:hover .fa-play-circle {
    display: block;
}
.vt-card .card-img-block img{
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.65);
}
.vt-card h5{
    color: #303c5e;
    font-weight: 600;
    font-size: 14px;
}
.vt-card p{
    font-size: 12px;
    font-weight: 300;
}
.ripple-wrap {
    display: none;
    overflow: hidden;
    position: fixed;
    font-size: 0;
    z-index: 1000;
    top: 0; left: 0; right: 0; bottom: 0;
}
.card-title {
    margin-bottom: 0;
}
.card-author {
    margin: 0;
    font-style: italic;
}
.card-access {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 2px 6px;
    background-color: white;
    font-size: 10px;
}
.card-text {
    margin-top: 10px;
 }
@-webkit-keyframes RIPPLER {
    0%   { border-width: 0; }
    40% {
        height: 0;
        width: 0;
        border-width: 1500px;
        margin-top: -1500px;
        margin-left:-1500px;
        border-color: var(--bg_color);
    }
    41% {
        height: 0;
        width: 0;
        border-width: 1500px;
        margin-top: -1500px;
        margin-left:-1500px;
        border-color: var(--bg_color);
    }
    100% {
        border-width: 1500px;
        height: 3000px;
        width: 3000px;
        margin-top: -4000px;
        margin-left:-4000px;
        border-color: var(--bg_color);
    }
}
@keyframes RIPPLER {
    0%   { border-width: 0; }
    40% {
        height: 0;
        width: 0;
        border-width: 1500px;
        margin-top: -1500px;
        margin-left:-1500px;
        border-color: var(--bg_color);
    }
    41% {
        height: 0;
        width: 0;
        border-width: 1500px;
        margin-top: -1500px;
        margin-left:-1500px;
        border-color: var(--bg_color);
    }
    100% {
        border-width: 1500px;
        height: 3000px;
        width: 3000px;
        margin-top: -4000px;
        margin-left:-4000px;
        border-color: var(--bg_color);
    }
}
.ripple {
    display: block;
    height: 0;
    width: 0;
    border-width: 0px;
    border-style: solid;
    border-color: white;
    border-radius: 100%;
    position: absolute;
    top: 300px;
    left: 300px;
    -webkit-animation: none;
    animation: none;
}
.ripple i {
    color: black;
    font-size: 24px;
    margin-top: -12px;
    margin-left: -12px;
}
.ripple-wrap.goripple {
    display: block;
}
.ripple-wrap.goripple .ripple {
    -webkit-animation-name: RIPPLER;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: RIPPLER;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@media (min-width: 440px) {
    .info h1 {
        font-size: 1.5rem;
    }
}
@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .info h1 {
        font-size: 2.0rem;
    }
}
@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    .info h1 {
        font-size: 2.5rem;
    }
}