html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343434;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
*{
    -webkit-tap-highlight-color: transparent;
}
a:hover, a:visited, a:link, a:active, a:focus {
    text-decoration: none;
    outline: none;
}
canvas {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    will-change: transform;
}
audio:focus { outline: none; }
video:focus { outline: none; }
.disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
}
.hidden {
    display: none !important;
}
.hidden_m {
    display: none !important;
    pointer-events: none !important;
}
.hidden_p {
    display: none !important;
}
.hidden_s {
    display: none !important;
}
.hidden_pb {
    opacity: 0 !important;
    pointer-events: none !important;
}
.hidden_icons {
    opacity: 0 !important;
    pointer-events: none !important;
}
.noselect, a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}
.small-element {
    position:relative;
}
.small-element:after {
    content:'';
    position:absolute;
    top:-1px; bottom:-1px;
    left:-1px; right:-1px;
}
.locked {
    pointer-events: none !important;
}
.locked * {
    pointer-events: none !important;
}
.error_input {
    border: 1px solid red !important;
}
.jconfirm {
    z-index: 88888 !important;
}
.info_box_content {
    width: 90%;
}
.intro_img {
    position: relative;
    z-index: 77777;
    justify-content: center;
    align-items: center;
    display: none;
    height: 100vh;
}
.intro_img img {
    width: 70%;
    max-width: 400px;
    border-radius: 20px;
}
#flyin {
    position: absolute;
    top: -90px;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100vh;
    opacity: 0;
}
.panorama {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    opacity: 0;
}
#vs_before {
    position: absolute;
    width:50%;
    height:100%;
    overflow:hidden;
    display:none;
    pointer-events: none;
}
#vs_before .custom-hotspot {
    pointer-events: initial;
}
#vs_slider {
    display: none;
    pointer-events: none;
    position: absolute;
    z-index: 15;
    top: 0;
    left: calc(50% - 2px);
    width: 4px;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 70px, rgba(255,255,255,0.8) 120px, rgba(255,255,255,0.8) 100%);
}
#vs_grab {
    display: none;
    position: absolute;
    z-index: 16;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
}
#vs_grab i {
    margin: 0 3px;
}
.grabbable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.grabbable:active {
    cursor: ew-resize;
}
.custom-hotspot .div_marker_wrapper {
    padding: 8px 8px;
    border-radius: 40px;
    text-align: center;
    min-width: 25px;
    min-height: 14px;
    font-size: 16px;
}
.custom-hotspot-content .div_poi_wrapper {
    padding: 8px 8px;
    border-radius: 40px;
    text-align: center;
    min-width: 25px;
    min-height: 14px;
    font-size: 16px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
}
.div_visitor_wrapper {
    border-radius: 25px;
    text-align: center;
    min-width: 25px;
    min-height: 25px;
    line-height: 23px;
    background: #000000;
    opacity: 0.8;
    border: 1px solid white;
}
.div_visitor_wrapper i {
    margin: 0 auto;
    font-size: 11px;
    color: #ffffff;
}
.pulse_icon:hover, .pulse_icon_hover {
    animation: pulse-h 1.2s infinite;
}
.pulse_image:hover, .pulse_image_hover {
    animation: pulse-o 1.2s infinite;
}
@keyframes pulse-h {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
@keyframes pulse-o {
    0% {
        opacity: 0.7;
    }
    70% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.7;
    }
}
#background_loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    display: none;
}
@media (max-width: 540px) and (orientation: portrait) {
    #background_loading {
        background: no-repeat top center scroll;
    }
}
#video_loading {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.background_opacity {
    opacity: 0.4;
}
#icon_play {
    font-size: 66px;
    display: none;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% + 5px);
    transform: translate(-50%, -50%);
    z-index: 10000;
}
.loading {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
}
.progress {
    position: absolute;
    z-index: 9999;
    bottom: 10px;
    width: 100%;
}
.progress img {
    max-height: 80px;
}
#pbar {
    margin-top: 20px;
    height: 4px;
}
.progress-circle {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(50% - 90px);
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 9999;
}
#name_virtualtour {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: default;
}
#author_virtualtour {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: default;
}
.map {
    position: absolute;
    z-index: 1051;
    opacity: 0.8;
    display: none;
}
.map_top_right {
    top: 48px;
    right: 6px;
}
.map_top_left {
    top: 48px;
    left: 6px;
}
.map_zoomed {
    position: absolute;
    top: 50% !important;
    right: unset !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    z-index: 1060;
}
#map_zoomed_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    z-index: 1055;
}
.map_zoomed .map_image {
    max-width: 100%;
    max-height:100%;
    width: auto !important;
    margin: auto;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.map_image {
    border: 1px solid rgba(0,0,0,0.7);
}
.darker_img {
    filter: grayscale(100%) brightness(0.1);
}
.all_maps {
    text-align: left;
    position: relative;
    height: 100%;
}
.all_maps span {
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 12px;
    padding: 1px 5px;
    cursor: default;
    position: absolute;
    left: 0;
    bottom: 4px;
}
.map_selector_control {
    width: 22px;
    height: 22px;
    text-align: center;
    display: none;
    background-color: #fff;
    border: 1px solid #999;
    border-color: rgba(0,0,0,0.4);
    border-radius: 3px;
    cursor: pointer;
    z-index: 2;
    line-height: 22px;
    position: absolute;
    top: 2px;
    left: 2px;
}
.map_selector_control i {
    font-size: 14px;
    color: black;
}
.map_zoom_control {
    width: 22px;
    height: 22px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #999;
    border-color: rgba(0,0,0,0.4);
    border-radius: 3px;
    cursor: pointer;
    z-index: 2;
    line-height: 22px;
    position: absolute;
    top: 2px;
    right: 2px;
}
.map_zoom_control i {
    font-size: 14px;
    color: black;
}
.map_close_control {
    width: 22px;
    height: 22px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #999;
    border-color: rgba(0,0,0,0.4);
    border-radius: 3px;
    cursor: pointer;
    z-index: 2;
    line-height: 22px;
    position: absolute;
    top: 2px;
    right: 28px;
}
.map_close_control i {
    font-size: 14px;
    color: black;
}
.map_selector {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 4px);
    overflow-y: scroll;
    z-index: 40;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.map_selector::-webkit-scrollbar {
    display: none;
}
.map_selector ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: center;
    width: 100%;
}
.map_selector li {
    font-size: 14px;
    text-align: center;
    padding: 2px 0;
    cursor: pointer;
}
.map_selector li a {
    text-decoration: none;
    color: white;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    cursor: pointer;
}
.map_selector li a:hover {
    font-size: 18px;
    background: white;
    color: black;
}
.pointer {
    position: absolute;
    top:100px;
    left:100px;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    transform: rotate(0deg) scale(1.0);
    opacity: 0.4;
    text-align: center;
    color: white;
    z-index: 1;
}
.view_direction__center {
    background: #0061ff;
    border-radius: 13px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 13px;
    left: 13px;
    cursor: pointer;
}
.view_direction__arrow {
    background: rgb(0,97,255);
    background: linear-gradient(-45deg, rgba(0,97,255,0) 10%, rgba(0,97,255,1) 100%);
    border-radius: 0 0 30px;
    display: block;
    height: 23px;
    width: 23px;
    transform: rotate(-45deg);
    position: absolute;
    top: 9px;
    left: 24px;
}
.logo {
    position: absolute;
    z-index: 30;
    opacity: 1;
    display: none;
}
.logo_top_right {
    top: 45px;
    right: 6px;
}
.logo_top_left {
    top: 45px;
    left: 6px;
}
.logo img {
    height: 40px;
}
img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
.pnlm-title-box {
    font-size: 14px;
}
.list_slider {
    width: 100%;
    height: 106px;
    padding: 0;
    position: absolute;
    bottom: -110px;
    opacity: 0;
    background-color: rgba(0,0,0,0.2);
}
.list_slider .slidee {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    margin: 0 auto;
}
.list_slider .slidee li {
    float: left;
    margin: 3px 3px 0 3px;
    padding: 0;
    height: 100px;
    width: 162px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.list_slider .slidee li:first-child {
    margin-left: 6px;
}
.list_slider .slidee li:last-child {
    margin-right: 6px;
}
.list_slider .slidee li:before {
    content:'';
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.3);
    transition: all 0.4s;
}
.list_slider .slidee li:hover:before {
    background: rgba(0,0,0,0.15);
}
.list_slider .slidee li.active:before {
    background: rgba(0,0,0,0);
}
.list_slider .slidee li.active {
    box-shadow: 0 0 0 1px white;
}
.list_slider .slidee li img {
    height: 100px;
}
.list_slider .slidee li .room_name_slider {
    font-size: 12px;
    color: #ffffff;
    text-shadow: 0px 0px 5px #000;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    padding: 0;
    height: auto;
}
.list_slider #list_left {
    position: absolute;
    top: calc(50% - 12px);
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    width: 20px;
}
.list_slider #list_right {
    position: absolute;
    top: calc(50% - 12px);
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    width: 20px;
}
.list_slider .stat_visitors_rt_rooms {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 0px 6px 1px 6px;
    height: 15px;
    border-radius: 15px;
    line-height: 15px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 10px;
}
.list_slider .stat_visitors_rt_rooms i {
    font-size: 8px;
}
.list_slider .stat_visitors_rt_rooms span {
    vertical-align: middle;
}
@media (max-width: 960px) {
    .list_slider {
        height: 96px;
    }
    .list_slider .slidee li {
        width: 144px;
        height: 90px;
    }
    .list_slider .slidee li img {
        height: 90px;
    }
    .list_slider .slidee li .room_name_slider {
        font-size: 11px;
    }
}
@media (max-width: 540px) {
    .list_slider {
        height: 66px;
    }
    .list_slider .slidee li:before {
        background: rgba(0,0,0,0) !important;
    }
    .list_slider .slidee li {
        width: 105px;
        height: 60px;
    }
    .list_slider .slidee li img {
        height: 60px;
    }
    .list_slider .slidee li .room_name_slider {
        font-size: 10px;
    }
}
#floatingSocialShare {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
    display: none;
}
#floatingSocialShare .content-left {
    margin-left: 0 !important;
}
#floatingSocialShare .content-left i {
    position: absolute;
    top: -30px;
    left: 50%;
    font-size: 22px;
    transform: translate(-50%);
    cursor: pointer;
    color: white;
}
#dialog {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    pointer-events: none;
}
#typed {
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    font-size: 24pt;
    text-transform: uppercase;
}
#loading_pano {
    display: none;
    font-size: 36px;
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    color: white;
    opacity: 0;
    z-index: 12;
}
#background_pano {
    background-image: url(transparent.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    transform:translateZ(0);
    -webkit-transform:translateZ(0);
}
#background_pano_vr {
    background-image: url(transparent.png);
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    display: none;
    transform:translateZ(0);
    -webkit-transform:translateZ(0);
}
.p_control {
    border-radius: 8px;
}
.nadir-hotspot-small {
    width: 100px;
    height: 100px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain !important;
}
.nadir-hotspot-medium {
    width: 200px;
    height: 200px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain !important;
}
.nadir-hotspot-large {
    width: 400px;
    height: 400px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain !important;
}

#btn_stop_presentation {
    width: 28px;
    height: 28px;
    text-align: center;
    display: none;
    line-height: 28px;
    position: absolute;
    top: 4px;
    left: 8px;
    z-index: 30;
}
#btn_stop_vr {
    width: 28px;
    height: 28px;
    text-align: center;
    display: none;
    line-height: 28px;
    position: absolute;
    top: 10px;
    left: 16px;
    z-index: 30;
}
#btn_stop_vr_2 {
    width: 28px;
    height: 28px;
    text-align: center;
    display: none;
    line-height: 28px;
    position: absolute;
    top: 10px;
    left: calc(50% + 16px);
    z-index: 30;
}
.header_vt {
    display: none;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.269) 14.3%, rgba(0,0,0,0.24) 26.2%, rgba(0,0,0,0.214) 36%, rgba(0,0,0,0.19) 44.1%, rgba(0,0,0,0.168) 50.6%, rgba(0,0,0,0.148) 55.9%, rgba(0,0,0,0.129) 60.4%, rgba(0,0,0,0.111) 64.3%, rgba(0,0,0,0.094) 67.8%, rgba(0,0,0,0.078) 71.4%, rgba(0,0,0,0.062) 75.3%, rgba(0,0,0,0.047) 79.8%, rgba(0,0,0,0.031) 85.2%, rgba(0,0,0,0.016) 91.9%, rgba(0,0,0,0) 100%);
    height: 55px;
    padding: 2px 0px;
    position: absolute;
    top: 0;
    z-index: 30;
    width: 100%;
    text-align: center;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
.header_vt_vr {
    display: none;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.269) 14.3%, rgba(0,0,0,0.24) 26.2%, rgba(0,0,0,0.214) 36%, rgba(0,0,0,0.19) 44.1%, rgba(0,0,0,0.168) 50.6%, rgba(0,0,0,0.148) 55.9%, rgba(0,0,0,0.129) 60.4%, rgba(0,0,0,0.111) 64.3%, rgba(0,0,0,0.094) 67.8%, rgba(0,0,0,0.078) 71.4%, rgba(0,0,0,0.062) 75.3%, rgba(0,0,0,0.047) 79.8%, rgba(0,0,0,0.031) 85.2%, rgba(0,0,0,0.016) 91.9%, rgba(0,0,0,0) 100%);
    height: 55px;
    padding: 2px 0px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 30;
    width: 50%;
    text-align: center;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
.name_vt {
    padding-top: 5px;
    font-size: 12px;
    font-weight: bold;
    min-width: 150px;
    width: 40%;
    margin: 0 auto;
    vertical-align: middle;
}
.room_vt {
    padding-top: 2px;
    font-size: 12px;
    min-width: 150px;
    width: 40%;
    margin: 0 auto;
    vertical-align: middle;
}
.logo_room_vt {
    height: 16px;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.author_vt {
    font-size: 10px;
    display: none;
}
.tooltipster-sidetip.tooltipster-borderless .tooltipster-box{
    background:#1b1b1b;
    background:rgba(0,0,0,0.6)
}
#controls_bottom_left {
    opacity: 0;
    position: absolute;
    bottom: 6px;
    left: 6px;
    width: auto;
    padding-left: 0;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
#controls_bottom_right {
    opacity: 0;
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: auto;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}
#controls_bottom_center {
    opacity: 0;
    position: absolute;
    bottom: 32px;
    left: 0px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#controls_bottom_left .controls_btn {
    margin: 0 2px;
}
#controls_bottom_left .controls_arrows {
    margin: 0 2px;
}
#controls_bottom_right .controls_btn {
    margin: 0 2px;
}
#controls_bottom_right .controls_arrows {
    margin: 0 2px;
}
#controls_bottom_center .controls_btn {
    margin: 0 2px;
}
#controls_bottom_center .controls_arrows {
    margin: 0 2px;
}
.voice_control {
    opacity: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 100vw;
    height: 30px;
}
#skitt-ui {
    position: absolute !important;
    left: unset !important;
    bottom: unset !important;
    height: 30px !important;
    background-color: rgba(41,128,185,0.8);
}
#skitt-toggle-button {
    width: 30px !important;
    height: 30px !important;
    background-position: 4px 3px !important;
}
#skitt-listening-box {
    line-height: 30px !important;
}
.controls_arrows {
    position: relative;
    z-index: 42;
    width: auto;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    display: inline-block;
    display: none;
    opacity: 0;
    pointer-events: none;
}
.controls_arrows i {
    font-size: 16px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.controls_btn {
    position: relative;
    z-index: 42;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.6);
    display: none;
    opacity: 0;
    pointer-events: none;
}
.whatsapp_control {
    font-size: 14px;
    color: white;
    background-color: rgba(37,211,102,0.8);
}
.facebook_control {
    font-size: 14px;
    color: white;
    background-color: rgba(66,103,178,0.8);
}
.compass_control {
    font-size: 16px;
    color: white;
    transform: rotate(0deg);
}
.nav_control {
    position: absolute;
    left: 6px;
    bottom: 46px;
    z-index: 11;
    display: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.4);
    cursor: move;
}
.nav_control i {
    font-size: 14px;
    padding: 4px;
    color: rgba(255,255,255,0.6);;
    cursor: pointer;
}
.nav_control i:hover {
    color: rgba(255,255,255,1);
}
.nav_control .nav_up {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
}
.nav_control .nav_down {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
}
.nav_control .nav_left {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}
.nav_control .nav_right {
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
}
.nav_control .nav_rotate {
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) perspective(400px) rotateX(50deg);
}
@media (max-width: 480px) {
    .small-element:after {
        content:'';
        position:absolute;
        top:-2px; bottom:-2px;
        left:-2px; right:-2px;
    }
    #controls_bottom_left, #controls_bottom_right, #controls_bottom_center {
        height: 27px;
    }
    .voice_control {
        height: 27px;
    }
    #skitt-ui {
        height: 27px !important;
    }
    #skitt-toggle-button {
        width: 27px !important;
        height: 27px !important;
        background-position: 3px 2px !important;
    }
    #skitt-listening-box {
        line-height: 27px !important;
    }
    .controls_btn {
        width: 27px;
        height: 27px;
        line-height: 27px;
        font-size: 11px;
    }
    .controls_arrows {
        height: 27px;
        border-radius: 13.5px;
    }
    .controls_arrows i {
        font-size: 14px;
        width: 27px;
        height: 27px;
        line-height: 27px;
    }
    .whatsapp_control {
        font-size: 12px;
    }
    .facebook_control {
        font-size: 12px;
    }
    .compass_control {
        font-size: 14px;
    }
    .nav_control {
        width: 60px;
        height: 60px;
    }
    .nav_control i {
        font-size: 10px;
    }
    .nav_control .nav_rotate {
        font-size: 10px;
    }
}
@media (max-width: 360px) {
    .small-element:after {
        content:'';
        position:absolute;
        top:-4px; bottom:-4px;
        left:-4px; right:-4px;
    }
    #controls_bottom_left, #controls_bottom_right, #controls_bottom_center {
        height: 25px;
    }
    .voice_control {
        height: 25px;
    }
    #skitt-ui {
        height: 25px !important;
    }
    #skitt-toggle-button {
        width: 25px !important;
        height: 25px !important;
        background-position: 3px 2px !important;
    }
    #skitt-listening-box {
        line-height: 25px !important;
    }
    .controls_btn {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 10px;
    }
    .controls_arrows {
        height: 25px;
        border-radius: 12.5px;
    }
    .controls_arrows i {
        font-size: 14px;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .whatsapp_control {
        font-size: 12px;
    }
    .facebook_control {
        font-size: 12px;
    }
    .compass_control {
        font-size: 14px;
    }
    .nav_control {
        width: 60px;
        height: 60px;
    }
    .nav_control i {
        font-size: 10px;
    }
    .nav_control .nav_rotate {
        font-size: 10px;
    }
}
#fb-root {
    opacity: 0;
}
.fb_dialog{
    width: 60px;
    height: 60px;
    top: unset !important;
    bottom: 4px;
    right: 54px;
    z-index: 20 !important;
    transform: scale(0.73);
    transform-origin: bottom right;
    background: none !important;
    opacity: 0;
}
.fb_dialog iframe {
    margin-left: 0 !important;
    margin-right: 0 !important;
    bottom: 0px !important;
    right: 0px !important;
}
.pnlm-compass {
    display: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
}
.fullscreen_control {
    display: none;
    position: absolute;
    top: 10px;
    right: 14px;
    z-index: 1001;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.song_control {
    display: none;
    position: absolute;
    top: 8px;
    left: 45px;
    z-index: 1032;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.map_control {
    display: none;
    position: absolute;
    top: 11px;
    right: 45px;
    z-index: 1001;
    cursor: pointer;
    color: white;
    font-size: 15px;
}
.map_tour_control {
    display: none;
    position: absolute;
    top: 9px;
    right: 82px;
    z-index: 1001;
    cursor: pointer;
    color: white;
    font-size: 17px;
}
.list_control {
    display: none;
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    left: 0;
    z-index: 40;
    color: white;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
}
.list_control i {
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent !important;
}
.menu_controls {
    display: none;
    position: absolute;
    top: 10px;
    left: 6px;
    width: 30px;
    z-index: 1052;
}
.menu_controls .title i {
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
    color: white;
}
.menu_controls .dropdown {
    position: fixed;
    width: auto;
    /*height: 0;*/
    opacity: 1.0;
    background: #fff;
    border-radius: 5px;
    color: #505050;
    margin-top: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s;
}
.menu_controls .down {
    height: auto;
    max-height: calc(100vh - 100px);
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transform: scaleY(1);
}
.menu_controls .down::-webkit-scrollbar { width: 0 !important }
.menu_controls .arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    opacity: 1.0;
    position: absolute;
    left: 9px;
    top: 21px;
    display: none;
}
.menu_controls .arrow.gone {
    display: block;
}
.menu_controls p {
    font-size: 12px;
    padding: 6px 14px;
    margin: 0;
    transition: all 0.1s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu_controls p:hover {
    -webkit-transform: scale(1.05);
}
.menu_controls .active {
    color: darkgreen;
    font-size: 8px;
    vertical-align: middle;
    padding-bottom: 2px;
}
.menu_controls .not_active {
    color: lightgray;
    font-size: 8px;
    vertical-align: middle;
    padding-bottom: 2px;
}

.list_alt_menu {
    display: none;
    position: absolute;
    top: 10px;
    left: 40px;
    width: 30px;
    z-index: 1053;
}
.list_alt_menu .title i {
    margin-left: 6px;
    margin-top: 1px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}
.list_alt_menu .dropdown {
    position: fixed;
    width: auto;
    /*height: 0;*/
    opacity: 1.0;
    background: #fff;
    border-radius: 5px;
    color: #505050;
    margin-top: 11px;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s;
}
.list_alt_menu .down {
    height: auto;
    max-height: calc(100vh - 100px);
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 5px 0;
    transform: scaleY(1);
}
.list_alt_menu .down::-webkit-scrollbar { width: 0 !important; }
.list_alt_menu .arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    opacity: 1.0;
    position: absolute;
    left: 5px;
    top: 21px;
    display: none;
}
.list_alt_menu .arrow.gone {
    display: block;
}
.list_alt_menu p {
    font-size: 12px;
    padding: 6px 14px;
    margin: 0;
    transition: all 0.1s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.list_alt_menu p:hover {
    -webkit-transform: scale(1.05);
}
.list_alt_menu p i {
    font-size: 10px;
    vertical-align: middle;
    padding-bottom: 3px;
}
.list_alt_menu .active {
    color: darkgreen;
}
.list_alt_menu .not_active {
    color: lightgray;
}

.loading_vr {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    z-index: 9999;
    background-color: #343434;
    color: white;
}
.hotspots_vr {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.cursor_vr {
    display: none;
    z-index: 999;
    color: white;
    font-size: 18px;
    text-shadow: 0px 0px 2px #005eff;
}
.cursor_vr_active {
    color: #005eff;
    text-shadow: 0px 0px 2px white;
}
#cursor_vr_left {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(25% - 9px);
}
#cursor_vr_right {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(75% - 9px);
}
.nadir-hotspot-small_vr {
    width: 80px !important;
    height: 80px !important;
}
.info_icon {
    display: none;
    float: left;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.info_icon i {
    font-size: 24px;
}
.lity-content {
    border-radius: 5px;
}
.lity-content p {
    margin: 0;
    padding: 0;
}
.lity-container {
    padding: 20px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.lity-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.arrows_nav {
    display: none;
}
.arrows_nav .prev_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    left: 8px;
    z-index: 31;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
    font-size: 24px;
    background-color: transparent !important;
}
.arrows_nav .next_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    right: 8px;
    z-index: 29;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
    font-size: 24px;
    background-color: transparent !important;
}
.protect {
    display: none;
    position: absolute;
    top: calc(50% - 90px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10001;
}
.cf:before, .cf:after{
    content:"";
    display:table;
}
.cf:after{
    clear:both;
}
.cf{
    zoom:1;
}
.protect_title {
    font-size: 16px;
    font-weight: bold;
    cursor: default;
}
.protect_description {
    font-size: 14px;
    font-weight: normal;
    cursor: default;
}
.password-wrapper {
    width: 300px;
    margin: 20px auto 20px auto;
    border-radius: 40px;
    background: transparent;
    box-shadow: 0 4px 20px -2px #e9e9e9;
    position: relative;
}
.password-wrapper input {
    width: 250px;
    height: 20px;
    padding: 10px 0px;
    text-indent: 20px;
    float: left;
    font-size: 13px;
    border: 0;
    background: #fff;
    border-radius: 40px;
    border-top-style: none;
}
.password-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}
.password-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    padding-left: 5px;
}
.password-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.password-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    border-style: none;
}
.password-wrapper button {
    overflow: visible;
    position: absolute;
    right: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 80px;
    font: 13px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #000000;
    border: 1px solid lightgrey;
    text-transform: uppercase;
    background: #ffffff;
    border-radius: 40px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
.password-wrapper button:hover{
    background: #000000;
    color: #ffffff;
}
.password-wrapper button:active,
.password-wrapper button:focus{
    background: #c4c4c4;
    outline: 0;
}
.password-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}
#vt_password {
    color: #333;
    border: none;
    display: block;
    text-security: disc;
    -webkit-text-security: disc;
    -moz-text-security: disc;
}
.form_poi button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
}
.form_main button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
}
.button_success_form {
    background-color: darkgreen !important;
}
.deo-close-button {
    opacity: 0;
}
@font-face {
    font-family: 'icomoon';
    src:  url('icomoon.eot?bg5b0v');
    src:  url('icomoon.eot?bg5b0v#iefix') format('embedded-opentype'),
    url('icomoon.ttf?bg5b0v') format('truetype'),
    url('icomoon.woff?bg5b0v') format('woff'),
    url('icomoon.svg?bg5b0v#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'compass';
    src:  url('compass.eot?qqliz0');
    src:  url('compass.eot?qqliz0#iefix') format('embedded-opentype'),
    url('compass.ttf?qqliz0') format('truetype'),
    url('compass.woff?qqliz0') format('woff'),
    url('compass.svg?qqliz0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="icon-compass"], [class*=" icon-compass"] {
    font-family: 'compass' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-map_off:before {
    content: "\e900";
    font-weight: bold;
}
.icon-map_on:before {
    content: "\e901";
}
.icon-compass:before {
    content: "\e902";
}
.fa-pulse {
    display: inline-block;
    -moz-animation: pulse 1s infinite linear;
    -o-animation: pulse 1s infinite linear;
    -webkit-animation: pulse 1s infinite linear;
    animation: pulse 1s infinite linear;
}
@-webkit-keyframes pulse {
    0% { color: #005eff; }
    50% { color: #ffffff; }
    100% { color: #005eff; }
}
@-moz-keyframes pulse {
    0% { color: #005eff; }
    50% { color: #ffffff; }
    100% { color: #005eff; }
}
@-o-keyframes pulse {
    0% { color: #005eff; }
    50% { color: #ffffff; }
    100% { color: #005eff; }
}
@-ms-keyframes pulse {
    0% { color: #005eff; }
    50% { color: #ffffff; }
    100% { color: #005eff; }
}
@keyframes pulse {
    0% { color: #005eff; }
    50% { color: #ffffff; }
    100% { color: #005eff; }
}

.live_call {
    display: none;
}
.live_status {
    background-color: white;
    width: 240px;
    font-size: 12px;
    line-height: 12px;
    padding: 5px 10px;
    border-radius: 15px;
    position: absolute;
    top: 45px;
    left: calc(50% - 120px);
    z-index: 40;
    cursor: default;
}
#btn_live_end {
    float: right;
    margin-left: 10px;
    color: red;
    display: none;
    cursor: pointer;
}
#btn_link_session {
    float: right;
    margin-left: 10px;
    display: none;
    cursor: pointer;
}
#btn_live_status {
    float: left;
    margin-right: 10px;
}
.video_my_wrapper {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    max-width: 120px;
    max-height: 120px;
    width: 15vw;
    height: 15vw;
    z-index: 40;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.video_my_wrapper:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.video_remote_wrapper {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 10;
    max-width: 120px;
    max-height: 120px;
    width: 15vw;
    height: 15vw;
    z-index: 40;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.video_remote_wrapper:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.video_background {
    max-width: 116px;
    max-height: 116px;
    width: 15vw;
    height: 15vw;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ada9a9;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.video-wrapper video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scaleX(-1);
    transform: translate(-50%, -50%) scaleX(-1);
    max-width: 200%;
    min-width: 100%;
    height: 100%;
}
.msg_lock {
    display: none;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
    z-index: 39;
    color: white;
}
.floating-chat {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: fixed;
    bottom: 6px;
    right: 56px;
    width: 40px;
    height: 40px;
    transform: translateY(70px);
    transition: all 50ms ease-out;
    border-radius: 50%;
    opacity: 0;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 40;
}
.floating-chat.enter:hover {
    opacity: 1;
}
.floating-chat.enter {
    transform: translateY(0);
    opacity: 0.9;
}
.floating-chat.expand {
    width: 250px;
    max-height: 400px;
    height: 400px;
    border-radius: 5px;
    cursor: auto;
    opacity: 1;
}
.floating-chat :focus {
    outline: 0;
}
.floating-chat button {
    background: transparent;
    border: 0;
    color: #000000;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}
.floating-chat .chat {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    transition: all 50ms ease-out;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.floating-chat .chat.enter {
    opacity: 1;
    border-radius: 0;
    margin: 10px;
    width: auto;
    height: auto;
}
.floating-chat .chat .header {
    flex-shrink: 0;
    padding-bottom: 10px;
    display: flex;
    background: transparent;
}
.floating-chat .chat .header .title {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 5px;
}
.floating-chat .chat .header button {
    flex-shrink: 0;
    color: #000000;
}
.floating-chat .chat .messages {
    padding: 10px;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    border-radius: 4px;
    background: transparent;
}
.floating-chat .chat .messages::-webkit-scrollbar {
    width: 5px;
}
.floating-chat .chat .messages::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(52, 52, 52, 0.1);
}
.floating-chat .chat .messages::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(52, 52, 52, 0.2);
}
.floating-chat .chat .messages li {
    position: relative;
    clear: both;
    display: inline-block;
    padding: 8px;
    margin: 0 0 10px 0;
    font-size: 12px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.8);
    word-wrap: break-word;
    max-width: 75%;
}
.floating-chat .chat .messages li:before {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    content: '';
    background-size: cover;
}
.floating-chat .chat .messages li:after {
    position: absolute;
    top: 10px;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid rgba(0,0,0,0.8);
}
.floating-chat .chat .messages li.other {
    animation: show-chat-odd 0.15s 1 ease-in;
    -moz-animation: show-chat-odd 0.15s 1 ease-in;
    -webkit-animation: show-chat-odd 0.15s 1 ease-in;
    float: right;
    margin-right: 45px;
    color: #ffffff;
}
.floating-chat .chat .messages li.other:after {
    border-right: 10px solid transparent;
    right: -10px;
}
.floating-chat .chat .messages li.self {
    animation: show-chat-even 0.15s 1 ease-in;
    -moz-animation: show-chat-even 0.15s 1 ease-in;
    -webkit-animation: show-chat-even 0.15s 1 ease-in;
    float: left;
    margin-left: 45px;
    color: #ffffff;
}
.floating-chat .chat .messages li.self:after {
    border-left: 10px solid transparent;
    left: -10px;
}
.floating-chat .chat .footer {
    flex-shrink: 0;
    display: flex;
    padding-top: 10px;
    max-height: 90px;
    background: transparent;
}
.floating-chat .chat .footer .text-box {
    border-radius: 3px;
    background: rgba(35, 35, 35, 0.7);
    min-height: 100%;
    width: 100%;
    margin-right: 5px;
    color: #ffffff;
    overflow-y: auto;
    padding: 2px 5px;
}
.floating-chat .chat .footer .text-box::-webkit-scrollbar {
    width: 5px;
}
.floating-chat .chat .footer .text-box::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(52, 52, 52, 0.5);
}
.floating-chat .chat .footer .text-box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(52, 52, 52, 0.5);
}
.floating-chat.blink {
    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.0s infinite ease-in-out;
    -webkit-animation:blink normal 1.0s infinite ease-in-out;
    -ms-animation:blink normal 1.0s infinite ease-in-out;
    animation:blink normal 1.0s infinite ease-in-out;
}
.modal_live_link {
    width:95%;
    max-width:800px;
    text-align:center;
}
.modal_live_link i {
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
    color: black;
}
.modal_live_link i:hover {
    color: #0f74a8;
}
.annotation {
    display: none;
    position: absolute;
    min-width: 150px;
    max-width: 280px;
    width: 28%;
    z-index: 40;
    padding: 8px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    pointer-events: none;
    cursor: default;
}
.annotation_top_left {
    top: 45px;
    left: 6px;
}
.annotation_top_right {
    top: 45px;
    right: 6px;
    text-align: right;
}
.annotation hr {
    border-top: 1px solid #ffffff;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.annotation_title {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 15px;
}
.annotation_description {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12px;
}
.marker_preview div {
    border: 2px solid rgba(255,255,255,0.8);
    transform: scale(1.0);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.marker_preview:hover div {
    transform: scale(1.5);
}
.tooltip_text {
    position:absolute;
    z-index:40;
    max-width: 60%;
    top:0;
    left:0;
    margin-left:0px;
    background-color:white;
    font-size:12px;
    padding:5px 10px;
    border-radius:10px;
    transform: translate(0px,0px) translateZ(9999px);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.tooltip_text_embed {
    position: absolute;
    z-index:40;
    top: -60px;
    left: 50%;
    width: max-content;
    transform: translate(-50%, 0);
    background-color:white;
    font-size:12px;
    padding:5px 10px;
    border-radius:10px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.tooltip_text_embed_m {
    position: absolute;
    z-index:40;
    top: 50%;
    left: 50%;
    width: max-content;
    transform: translate(-50%, -50%);
    background-color:white;
    font-size:12px;
    padding:5px 10px;
    border-radius:10px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.tooltip_text p, .tooltip_text_embed p, .tooltip_text_embed_m p {
    margin-bottom: 0;
    margin-top: 0;
}
.tooltip_preview {
    position:absolute;
    z-index:40;
    top:0;
    left:0;
    margin-left:0px;
    width:100px;
    height:100px;
    background-color:white;
    padding:5px;
    border-radius:50%;
    transform: translate(0px,0px) translateZ(9999px);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.tooltip_preview_m {
    position:absolute;
    z-index:40;
    top:50%;
    left:50%;
    width:50px;
    height:50px;
    background-color:white;
    padding:2px;
    border-radius:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.tooltip_preview_square {
    position:absolute;
    z-index:40;
    top:0;
    left:0;
    margin-left:0px;
    width:100px;
    height:100px;
    background-color:white;
    padding:5px;
    transform: translate(0px,0px) translateZ(9999px);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.tooltip_preview_square_m {
    position:absolute;
    z-index:40;
    top:50%;
    left:50%;
    width:50px;
    height:50px;
    background-color:white;
    padding:2px;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.tooltip_preview_rect {
    position:absolute;
    z-index:40;
    top:0;
    left:0;
    margin-left:0px;
    width:177px;
    height:100px;
    background-color:white;
    padding:5px;
    transform: translate(0px,0px) translateZ(9999px);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.tooltip_preview_rect_m {
    position:absolute;
    z-index:40;
    top:50%;
    left:50%;
    width:88px;
    height:50px;
    background-color:white;
    padding:2px;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.audio_poi {
    position:absolute;
    z-index:40;
    max-width: 60%;
    top:0;
    left:0;
    margin-left:0px;
    font-size:12px;
    padding:0px;
    border-radius:10px;
    transform: translate(0px,0px) translateZ(9999px);
    opacity: 0;
    pointer-events: none;
}
.passcode_div {
    position: absolute;
    display: none;
    position: absolute;
    left: 50%;
    top: 180px;
    transform: translateX(-50%);
    padding: 20px;
    max-width: 70%;
    text-align: center;
    z-index: 9998;
    color: black;
    background-color: white;
    border-radius: 10px;
}
.passcode_div h2 {
    margin-top: 0;
}
.passcode_div p {
    margin-bottom: 20px;
}
#passcode {
    text-align: center;
    padding: 5px;
}
#btn_check_passcode {
    font-size: 28px;
    padding: 10px 12px;
    margin: 20px 10px 0px 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
}
#btn_close_passcode {
    font-size: 28px;
    padding: 10px;
    margin: 20px 10px 0px 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
}
.leads_div {
    position: absolute;
    display: none;
    position: absolute;
    left: 50%;
    top: 180px;
    transform: translateX(-50%);
    padding: 20px;
    min-width: 360px;
    max-width: 70%;
    text-align: center;
    z-index: 9998;
    color: black;
    background-color: white;
    border-radius: 10px;
}
.leads_div h2 {
    margin-top: 0;
}
.leads_div p {
    margin-bottom: 20px;
}
#btn_check_leads {
    font-size: 28px;
    padding: 10px 12px;
    margin: 20px 10px 0px 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    outline: none;
    background-color: white;
}
#btn_close_leads {
    font-size: 28px;
    padding: 10px;
    margin: 20px 10px 0px 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
}
.input_material {
    position: relative;
    margin: 5px 0;
}
.input_material textarea {
    resize: none;
}
.input_material input,
.input_material textarea {
    background: none;
    color: #000000;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: calc(100% - 10px);
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}
.input_material input:focus,
.input_material textarea:focus {
    outline: none;
}
.input_material input:focus ~ label,
.input_material input:not(:placeholder-shown) ~ label,
.input_material textarea:focus ~ label,
.input_material textarea:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #000000;
}
.input_material input:focus ~ .bar:before,
.input_material textarea:focus ~ .bar:before {
    width: 100%;
}
.input_material input[type=password] {
    letter-spacing: 0.3em;
}
.input_material label {
    color: #c6c6c6;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
}
.input_material .bar {
    position: relative;
    display: block;
    width: 100%;
}
.input_material .bar:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #000000;
    transition: 300ms ease all;
    left: 0%;
}
.button_material {
    cursor: pointer;
    background: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.button_material:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.18), 0 5px 5px rgba(0,0,0,0.12);
}
.leads_div .input_material input,
.leads_div .input_material textarea {
    width: calc(100% - 20px);
}
.visitors_rt_stats {
    display: none;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 2px 6px;
    border-radius: 20px;
    font-size: 12px;
    width: fit-content;
    margin: 5px auto;
}
.rooms_view_sel {
    display: none;
    text-align: center;
}
.rooms_view_sel img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    pointer-events: initial;
}
.rooms_view_sel img.active {
    border: 1px solid white;
    pointer-events: none !important;
    cursor: default !important;
}
#jitsi_div {
    display: none;
    z-index: 250;
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}
#btn_jitsi_fullscreen {
    position: absolute;
    top: 10px;
    right: 10px;
    right: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
#btn_jitsi_hide {
    position: absolute;
    top: 10px;
    right: 40px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
#jitsi_show {
    position: absolute;
    top: 180px;
    left: 6px;
    z-index: 100;
    padding: 2px 6px;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.8);
    color: black;
    cursor: pointer;
    display: none;
}
.visible_jitsi_meet {
    opacity: 1 !important;
    display: block !important;
    width: 360px !important;
}
.visible_jitsi_meet_fullscreen {
    opacity: 1 !important;
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 10000 !important;
}
#vt_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    transition-property: left,right,top,bottom,width,height;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}
#draggable_container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.open_jitsi_meet {
    width: calc(100% - 360px) !important;
    left: 360px !important;
}
.open_jitsi_meet_map_tour {
    width: calc(100% - 720px) !important;
    left: 360px !important;
}
#map_tour_div {
    display: none;
    z-index: 250;
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}
.visible_map_tour {
    opacity: 1 !important;
    display: block !important;
    width: 360px !important;
}
.open_map_tour {
    width: calc(100% - 360px) !important;
    right: 360px !important;
}
.info_map_btn {
    cursor: pointer;
}
.map_tour_icon {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    border: 3px solid white;
}
.map_tour_icon_active {
    opacity: 1.0 !important;
}
.map_tour_icon_top {
    z-index: 1000 !important;
}
.leaflet-div-icon {
    background: unset;
    border: unset;
}
.leaflet-control-attribution {
    display: none;
}
.view_direction_m__arrow {
    background: rgb(0,97,255);
    background: linear-gradient(-45deg, rgba(0,97,255,0) 20%, rgba(0,97,255,1) 100%);
    border-radius: 0 0 80px;
    display: none;
    height: 80px;
    width: 80px;
    transform-origin: 0 0;
    position: absolute;
    top: 21.5px;
    left: 21.5px;
}
#announce_div {
    padding: 0;
    background: transparent;
    text-align: center;
}
#announce_div img {
    width: 100%;
    max-height: 80vh;
    -o-object-fit: contain;
    object-fit: contain;
}
#announce_div video {
    width: 100%;
    max-height: 80vh;
    -o-object-fit: contain;
    object-fit: contain;
}
#announce_div iframe {
    border: 0;
    margin: 0;
    overflow: hidden;
    width: 80vw;
    height: 80vh;
    -o-object-fit: contain;
    object-fit: contain;
}
#announce_div .linkwrap {
    position:relative;
    display:inline-block;
}
#announce_div .blocker {
    position:absolute;
    height:80vh;
    width:100%;
    z-index:1;
    background:transparent;
}
#announce_div .linkwrap iframe {
    z-index: 2;
}
#announce_close_ad {
    color: white;
    margin: 0 auto;
    margin-top: 10px;
    cursor: default;
    padding: 5px;
    border: 1px solid rgba(255,255,255,0.7);
    width: auto;
    max-width: 450px;
}
.jconfirm-audio_prompt .jconfirm-content-pane {
    display: none !important;
}
.jconfirm-deivce_motion_prompt .jconfirm-content-pane {
    display: none !important;
}
#password_meeting, #password_livesession {
    width: 95%;
    margin: 0 auto;
    -webkit-text-security: disc !important;
}
.jconfirm-type-blue {
    width: 100%;
    max-width: 350px;
}
.poi_google_maps_content {
    width: 90%;
    height: 90%;
    padding: 0 !important;
}
.poi_google_maps_content iframe:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: inline-block;
}
.poi_google_maps_content iframe:nth-child(2) {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    display: inline-block;
}
.poi_google_maps_content_poi_box {
    width: 100%;
    padding: 0 !important;
    text-align: center;
}
.poi_google_maps_content_poi_box iframe:nth-child(1) {
    width: 90%;
    height: 340px;
    display: inline-block;
}
.poi_google_maps_content_poi_box iframe:nth-child(2) {
    width: 90%;
    height: 340px;
    display: inline-block;
}
.poi_google_maps_full_width {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: inline-block;
}
.poi_object360_content {
    width: 90%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.poi_object360_content canvas {
    max-width: 100% !important;
    width: 100% !important;
    height: auto !important;
    margin-bottom: -5px !important;
}
.poi_object3d_content {
    width: 95%;
    height: 95%;
    padding: 0 !important;
    overflow: hidden;
    text-align: center;
    background: transparent;
}
.poi_object3d_content model-viewer {
    width: 100%;
    height: 100%;
    background: transparent;
    --poster-color: transparent;
    --progress-mask: transparent;
    --progress-bar-color: white;
}
.poi_product_content {
    width: 100%;
    padding: 0 !important;
    text-align: center;
}

.pure-material-checkbox {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
}
.pure-material-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}
.pure-material-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.pure-material-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px; /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}
.pure-material-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}
.pure-material-checkbox > input:checked,
.pure-material-checkbox > input:indeterminate {
    background-color: rgb(var(--pure-material-primary-rgb, 0, 0, 0));
}
.pure-material-checkbox > input:checked + span::before,
.pure-material-checkbox > input:indeterminate + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 0, 0, 0));
    background-color: rgb(var(--pure-material-primary-rgb, 0, 0, 0));
}
.pure-material-checkbox > input:checked + span::after,
.pure-material-checkbox > input:indeterminate + span::after {
    border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}
.pure-material-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
}
.pure-material-checkbox:hover > input {
    opacity: 0.04;
}
.pure-material-checkbox > input:focus {
    opacity: 0.12;
}

.pure-material-checkbox:hover > input:focus {
    opacity: 0.16;
}
.pure-material-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}
.pure-material-checkbox > input:active + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 0, 0, 0));
}
.pure-material-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}
.pure-material-checkbox > input:disabled {
    opacity: 0;
}
.pure-material-checkbox > input:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}
.pure-material-checkbox > input:disabled + span::before {
    border-color: currentColor;
}
.pure-material-checkbox > input:checked:disabled + span::before,
.pure-material-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
}

.select {
    position: relative;
    width: 100%;
}
.select-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    padding: 10px 10px 10px 5px;
    width: calc(100% - 10px);
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #c6c6c6;
}
.select-text:focus {
    outline: none;
    border-bottom: 1px solid rgba(0,0,0, 0);
}
.select .select-text {
    appearance: none;
    -webkit-appearance:none
}
.select:after {
    position: absolute;
    top: 18px;
    right: 10px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #c6c6c6;
    pointer-events: none;
}
.select-label {
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: -14px;
    transition: 0.2s ease all;
}
.select-text[data-chosen=''] ~.select-label {
    color: #c6c6c6;
    top: 10px;
    font-size: 16px;
}
.select-text:focus ~.select-label {
    color: #000000;
    top: -14px;
    transition: 0.2s ease all;
    font-size: 12px;
}
.select-bar {
    position: relative;
    display: block;
    width: 100%;
}
.select-bar:before, .select-bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #000000;
    transition: 0.2s ease all;
}
.select-bar:before {
    left: 50%;
}
.select-bar:after {
    right: 50%;
}
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
    width: 50%;
}
.select-highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
.draggable_poi_embed {
    opacity: 0;
    pointer-events: none;
}
.draggable_marker_embed {
    opacity: 0;
    pointer-events: none;
}
.poi_embed {
    top: -99999px;
    left: -99999px;
}
.poi_embed .vjs-tech {
    object-fit: fill;
}
.poi_embed video {
    pointer-events: none;
}
.marker_embed {
    top: -99999px;
    left: -99999px;
}
.poi_embded_helper {
    opacity: 0;
    pointer-events: none;
}
.marker_embded_helper {
    opacity: 0;
    pointer-events: none;
}
.highlight_poi_embed:hover {
    -webkit-filter: drop-shadow(2px 2px 4px white) drop-shadow(-2px 2px 4px white) drop-shadow(2px -2px 4px white) drop-shadow(-2px -2px 4px white);
    filter: drop-shadow(2px 2px 4px white) drop-shadow(-2px 2px 4px white) drop-shadow(2px -2px 4px white) drop-shadow(-2px -2px 4px white);
}
.box_poi {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 350px;
    border-radius: 10px;
    background: white;
    padding: 10px;
    z-index: 40;
    transform: translate(0px,0px) translateZ(9999px);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.box_poi .box-arrow-border {
    position: absolute;
    top: calc(50% - 10px);
    left: -14px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    width: 0;
    height: 0;
    transform-origin: center;
    transform: rotate(-90deg);
}
.box_poi .box-arrow-background {
    position: absolute;
    left: -10px;
    top: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    width: 0;
    height: 0;
}
.box_poi .box-content {
    border-radius: 0.25rem;
    overflow: hidden;
    max-height: 400px;
    overflow-y: scroll;
    box-sizing: content-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.box_poi .box-content p {
    margin: 0;
}
.box_poi .box-content::-webkit-scrollbar {
    display: none;
}
.box_poi .box-caption {
    width: 100%;
    text-align: center;
    margin: 0;
}
.box_poi .box-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.5), rgba(0,0,0,0.1));
}
.poi_gallery_container {
    min-height: 120px;
    position: relative;
    width: 100%;
}
#gallery_container {
    opacity: 0;
    pointer-events: none;
    display: none;
}
.nGY2Viewer .title p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}
.nGY2Viewer .title h4 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.nGY2Viewer .toolbarContainer {
    cursor: default;
    pointer-events: none;
}
.nGY2GThumbnailTitle {
    display: none !important;
}
.poi_not_selectable {
    pointer-events: none !important;
}
.poi_embed_selection {
    border-style: solid;
}
.poi_embed_text {
    border-style: solid;
    display: flex;
    align-items: center;
}
.poi_embed_text p {
    margin: 0;
    width: 100%;
}
.marker_embed_selection {
    border-style: solid;
}
.poi_embed_gallery {
    background-color: rgba(0,0,0,0.8);
}
.poi_embed_gallery .glide__slides {
    margin: 0;
    height: 100%;
}
.poi_embed_gallery .glide__arrow--left {
    left: 5px;
}
.poi_embed_gallery .glide__arrow--right {
    right: 5px;
}
.poi_embed_gallery .glide__arrow {
    padding: 3px 6px;
    font-size: 1.25rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
.poi_embed_gallery .glide__slide {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.poi_embed_gallery .glide__track {
    height: 100%;
}
.div_play_btn {
    display: none;
    pointer-events: initial;
    cursor: pointer;
}
.div_play_btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: white;
    -webkit-text-stroke: 1px #000;
}
.autorotate_control .fa-sync-alt {
    transform: perspective(400px) rotateX(45deg);
}
.nav_rotate.active_rotate {
    color: rgba(255,255,255,1);
}
.lottie_icon {
    width: 50px;
    height: 50px;
}
.poi_lottie_content {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    overflow: hidden;
    text-align: center;
    background: transparent;
}
.snipcart-modal__container {
    z-index: 999999 !important;
}
.snipcart-checkout {
    cursor: pointer;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 5px 5px 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    border: none;
    z-index: 41;
    vertical-align: middle;
    opacity: 0;
    pointer-events: none;
    margin-top: 5px;
}
.snipcart-checkout i {
    vertical-align: middle;
}
.snipcart-total-price {
    vertical-align: middle;
}
.snipcart-items-count {
    background-color: white;
    color: black;
    font-size: 10px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}
.controls_btn, .prev_arrow, .next_arrow, .list_control_alt, .song_control, .map_control, .map_tour_control, .fullscreen_control, .list_slider #list_left, .list_slider #list_right, .list_control i, .arrows_nav i, .list_alt_menu .title i, .menu_controls .title i {
    transition: all 0.4s;
}

@media screen and (orientation:portrait) {
    #jitsi_div {
        width: 100%;
        height: 280px;
        -webkit-transition: height 0.3s ease-in-out;
        -moz-transition: height 0.3s ease-in-out;
        -o-transition: height 0.3s ease-in-out;
        transition: height 0.3s ease-in-out;
    }
    .open_jitsi_meet {
        width: 100% !important;
        height: calc(100% - 280px) !important;
        top: 280px !important;
        left: 0 !important;
    }
    .open_jitsi_meet_map_tour {
        width: 100% !important;
        height: calc(100% - 560px) !important;
        top: 280px !important;
        left: 0 !important;
    }
    .visible_jitsi_meet {
        opacity: 1 !important;
        display: block !important;
        width: 100% !important;
    }
    #map_tour_div {
        width: 100%;
        height: 280px;
        bottom: 0 !important;
        top: unset !important;
        -webkit-transition: height 0.3s ease-in-out;
        -moz-transition: height 0.3s ease-in-out;
        -o-transition: height 0.3s ease-in-out;
        transition: height 0.3s ease-in-out;
    }
    .open_map_tour {
        width: 100% !important;
        height: calc(100% - 280px) !important;
        bottom: 280px !important;
        left: 0 !important;
    }
    .visible_map_tour {
        opacity: 1 !important;
        display: block !important;
        width: 100% !important;
    }
    .poi_google_maps_content iframe:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        display: inline-block;
    }
    .poi_google_maps_content iframe:nth-child(2) {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
        display: inline-block;
    }
}

@keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}
@-moz-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes show-chat-even {
    0% {
        margin-left: -480px;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}
@-moz-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}
@-webkit-keyframes show-chat-odd {
    0% {
        margin-right: -480px;
    }
    100% {
        margin-right: 0;
    }
}
@keyframes blink {
    0% {
        background-color: rgba(255,255,255,1);
        color: black;
    }
    50% {
        background-color: rgba(0,0,0,0.8);
        color: white;
    }
    100% {
        background-color: rgba(255,255,255,1);
        color: black;
    }
}
@-webkit-keyframes blink {
    0% {
        background-color: rgba(255,255,255,1);
        color: black;
    }
    50% {
        background-color: rgba(0,0,0,0.9);
        color: white;
    }
    100% {
        background-color: rgba(255,255,255,1);
        color: black;
    }
}

@media (max-height: 530px) {
    .pnlm-title-box {
        font-size: 12px;
    }
    .menu_controls p {
        font-size: 11px;
        padding: 6px 12px;
    }
}

@media (max-width: 540px) and (orientation: portrait) {
    .pnlm-title-box {
        font-size: 12px;
    }
    .nadir-hotspot-small {
        width: 40px;
        height: 40px;
    }
    .nadir-hotspot-medium {
        width: 80px;
        height: 80px;
    }
    .nadir-hotspot-large {
        width: 140px;
        height: 140px;
    }
    #typed {
        font-size: 18px;
        text-align: center;
    }
    .map_zoomed {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
    }
}

@media (max-width: 540px) {
    .name_vt {
        font-size: 10px;
    }
    .room_vt {
        font-size: 10px;
    }
    .logo_room_vt {
        height: 10px;
    }
    .floating-chat {
        right: 42px;
        width: 30px;
        height: 30px;
    }
    .annotation {
        min-width: 100px;
    }
    .annotation_title {
        font-size: 12px;
    }
    .annotation_description {
        font-size: 9px;
    }
    .rooms_view_sel img {
        width: 20px;
        height: 20px;
    }
    .snipcart-checkout {
        padding: 4px 4px 4px 8px;
        border-radius: 15px;
        font-size: 10px;
    }
    .snipcart-items-count {
        width: 15px;
        height: 15px;
        line-height: 15px;
    }
}

@media (max-width: 400px) {
    .name_vt {
        max-width: 120px;
        min-width: unset;
        font-size: 8px;
    }
    .room_vt {
        font-size: 8px;
        max-width: 120px;
        min-width: unset;
    }
    .author_vt {
        font-size: 8px;
    }
    .logo_room_vt {
        height: 10px;
    }
}

.product-wrapper{
    width: 95%;
    height: auto;
    padding: 20px;
}
.product-wrapper .product-slider{
    height: 100%;
}
.product-wrapper .product-slider .carousel{
    background: #efefef;
    border-radius: 5px;
}
.product-wrapper .product-content{
    background: #fff;
    position: relative;
}
.product-wrapper .product-title{
    width:100%;
    height: auto;
    font-size: 25px;
}
.product-wrapper .product-title span{
    display: block;
}
.product-wrapper .product-price {
    font-size: 30px;
    color: #444;
    padding-top: 10px;
    padding-bottom: 5px;
}
.product-wrapper .product-description {
    font-size: 14px;
    color: #6b6b6b;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.product-wrapper .btn-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.product-wrapper .btn-wrapper .btn{
    box-shadow: 2px 5px 10px rgba(30,30,30,0.1);
    background: #000000;
    border-radius: 32px;
    color: #fbfbfb;
    font-size: 14px;
    padding: 8px 48px;
    cursor: pointer;
}
.product-wrapper .one{
    padding-left: 14px;
    padding-right: 14px;
}
.product-wrapper .carousel-item {
    height: 400px;
}
.product-wrapper .carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: contain;
}
.product-wrapper .carousel .carousel-indicators{
    bottom: 0px;
}
.product-wrapper .carousel .carousel-indicators li{
    width:20px;
    height:20px;
    border-radius: 50%;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    margin-right: 4px;
}
.product-wrapper .carousel .carousel-indicators li img{
    display: block;
    width: 105%;
    height: 105%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.product-wrapper .carousel .carousel-indicators li.active{
    background: #fff;
    box-shadow: 0px 0px 10px rgba(30,30,30,0.3);
}
.product-wrapper .carousel-control-next {
    position: absolute;
    width:50px;
    height:50px;
    top:50%;
    right:10px;
    z-index: 999999;
}
.product-wrapper .carousel-control-prev{
    position: absolute;
    width:50px;
    height:50px;
    top:50%;
    left:10px;
    z-index: 999999;
}
.product-wrapper .carousel-control-prev-icon,
.product-wrapper .carousel-control-next-icon{
    background-image: none;
    width:10px;
    height: 10px;
    transform: rotate(45deg);
}
.product-wrapper .carousel-control-prev-icon{
    border-left:2px solid black;
    border-bottom:2px solid black;
}
.product-wrapper .carousel-control-next-icon{
    border-top:2px solid black;
    border-right:2px solid black;
}
@media only screen and (max-width: 767px) {
    .product-wrapper .product-content{
        margin-top: 10px;
        text-align: center;
    }
    .product-wrapper .carousel .carousel-indicators li{
        width:15px;
        height:15px;
    }
    .product-wrapper .product-price{
        font-size:22px;
    }
    .product-wrapper .product-title{
        font-size: 16px;
    }
    .product-wrapper .product-description{
        font-size: 12px;
    }
    .product-wrapper .product-price {
        padding: 0;
    }
    .product-wrapper .product-description {
        padding: 0;
    }
    .product-wrapper .btn-wrapper .btn{
        font-size: 12px;
        padding: 4px 24px;
        margin: 0 auto;
    }
    .product-wrapper .btn-wrapper a{
        margin: 0 auto;
    }
}
.poi_product_content .product-wrapper {
    padding: 0;
    width: 100%;
}
.poi_product_content .bootstrap-iso .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.poi_product_content .product-wrapper .carousel-item {
    height: 200px;
}
.poi_product_content .product-wrapper .carousel-item img {
    height: 200px;
}
.poi_product_content .product-wrapper .product-content{
    margin-top: 10px;
    text-align: center;
}
.poi_product_content .product-wrapper .carousel .carousel-indicators li{
    width:15px;
    height:15px;
}
.poi_product_content .product-wrapper .product-price{
    font-size:22px;
}
.poi_product_content .product-wrapper .btn-wrapper .btn {
    margin: 0 auto;
}
.poi_product_content .product-wrapper .product-title{
    font-size: 16px;
}
.poi_product_content .product-wrapper .product-description{
    font-size: 12px;
}
.poi_product_content .product-wrapper .product-price {
    padding: 0;
}
.poi_product_content .product-wrapper .product-description {
    padding: 0;
}
.poi_product_content .product-wrapper .btn-wrapper .btn{
    font-size: 12px;
    padding: 4px 24px;
    margin-bottom: 20px;
}
.poi_product_content .product-wrapper .btn-wrapper a{
    margin: 0 auto;
}